[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=kritaupdates
X-Python-2-Compatible=false
Name=Krita Updates
Comment=Checks for Krita updates